<!DOCTYPE html>
<html>
<head>
  <title>Phcmenus</title>
  <%= stylesheet_link_tag    "phcmenus/application", media: "all" %>
  <%= javascript_include_tag "phcmenus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
